.statistic-statistic {
  gap: var(--dl-space-space-threeunits);
  width: 346px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: #ffffff;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  border-bottom-width: 1px;
}
.statistic-sta {
  color: rgb(153, 153, 153);
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 3%;
}
.statistic-sta1 {
  color: rgb(255, 255, 255);
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 72px;
}












@media(max-width: 991px) {
  .statistic-statistic {
    gap: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .statistic-sta {
    font-size: 11px;
    line-height: 16.5px;
  }
  .statistic-sta1 {
    font-size: 40px;
    line-height: 36px;
  }
  .statistic-root-class-name {
    width: 100%;
  }
  .statistic-root-class-name1 {
    width: 100%;
  }
  .statistic-root-class-name2 {
    width: 100%;
  }
  .statistic-root-class-name3 {
    width: 100%;
  }
  .statistic-root-class-name4 {
    width: 100%;
  }
  .statistic-root-class-name5 {
    width: 100%;
  }
  .statistic-root-class-name6 {
    width: 100%;
  }
  .statistic-root-class-name12 {
    width: 100%;
  }
  .statistic-root-class-name7 {
    width: 100%;
  }
  .statistic-root-class-name8 {
    width: 100%;
  }
  .statistic-root-class-name9 {
    width: 100%;
  }
  .statistic-root-class-name10 {
    width: 100%;
  }
}

.tag-container {
  display: flex;
  position: relative;
}
.tag-tag {
  transition: 0.3s;
}
.tag-tag:hover {
  color: #fff;
  background-color: #235536;
}
@media(max-width: 991px) {
  .tag-tag {
    font-size: 12px;
    padding-top: 12px;
    white-space: nowrap;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 12px;
  }
}

.work-work {
  gap: 140px;
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  border-color: #151515;
  padding-left: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  border-bottom-width: 1px;
}
.work-image {
  width: 417px;
  height: 520px;
  object-fit: cover;
}
.work-details {
  flex: 1;
  height: 520px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.work-header {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.work-heading {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.work-text {
  color: rgb(21, 21, 21);
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}
.work-text1 {
  font-size: 24px;
  align-self: center;
  font-style: italic;
  font-weight: 300;
  padding-right: var(--dl-space-space-twounits);
}
.work-text2 {
  color: rgb(21, 21, 21);
  font-size: 24px;
  line-height: 36px;
}
.work-tags {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
@media(max-width: 991px) {
  .work-work {
    gap: 0px;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: 0;
    padding-right: 0;
    flex-direction: column;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .work-image {
    width: 100%;
  }
  .work-details {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: flex-start;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: 0px;
    justify-content: flex-start;
  }
  .work-header {
    gap: var(--dl-space-space-unit);
  }
  .work-heading {
    align-items: center;
  }
  .work-text {
    font-size: 24px;
    line-height: 21px;
  }
  .work-text2 {
    font-size: 16px;
    line-height: 24px;
  }
}

.service-service {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: 350px;
  align-items: flex-start;
  border-color: #151515;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  border-bottom-width: 1px;
}
.service-title {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  white-space: nowrap;
}
.service-description {
  font-size: 22px;
  line-height: 36px;
}


















@media(max-width: 991px) {
  .service-service {
    gap: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .service-title {
    font-size: 18px;
    line-height: 16px;
  }
  .service-description {
    font-size: 14px;
    line-height: 21px;
  }
  .service-root-class-name {
    max-width: 100%;
  }
  .service-root-class-name1 {
    max-width: 100%;
  }
  .service-root-class-name2 {
    max-width: 100%;
  }
  .service-root-class-name3 {
    max-width: 100%;
  }
  .service-root-class-name4 {
    max-width: 100%;
  }
  .service-root-class-name5 {
    max-width: 100%;
  }
  .service-root-class-name6 {
    max-width: 100%;
  }
  .service-root-class-name7 {
    max-width: 100%;
  }
  .service-root-class-name8 {
    max-width: 100%;
  }
  .service-root-class-name9 {
    max-width: 100%;
  }
  .service-root-class-name10 {
    max-width: 100%;
  }
  .service-root-class-name11 {
    max-width: 100%;
  }
  .service-root-class-name12 {
    max-width: 100%;
  }
  .service-root-class-name13 {
    max-width: 100%;
  }
  .service-root-class-name14 {
    max-width: 100%;
  }
  .service-root-class-name15 {
    max-width: 100%;
  }
  .service-root-class-name16 {
    max-width: 100%;
  }
  .service-root-class-name17 {
    max-width: 100%;
  }
}

.author-author {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
}
.author-avatar {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.author-details {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.author-text {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.author-text1 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 30px;
}
@media(max-width: 991px) {
  .author-author {
    gap: var(--dl-space-space-unit);
  }
  .author-avatar {
    width: 40px;
    height: 40px;
  }
  .author-text {
    font-size: 16px;
    line-height: 24px;
  }
  .author-text1 {
    font-size: 16px;
    line-height: 24px;
  }
}

.home2-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  background-color: #D9D9D9;
}
.home2-navbar {
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
  background-color: #151515;
}
.home2-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.home2-branding {
  gap: var(--dl-space-space-halfunit);
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home2-company {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
}
.home2-items {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home2-link {
  text-decoration: none;
  background-color: #90a959;
}
.home2-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home2-button {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  padding-top: 20px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: 20px;
  background-color: #235536;
}
.home2-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #151515;
}
.home2-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home2-hero {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-color: #151515;
}
.home2-header {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.home2-title {
  width: 771px;
  height: 221px;
  font-size: 80px;
  max-width: 100%;
  align-self: center;
  text-align: left;
  font-weight: normal;
  line-height: 90px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.home2-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  justify-content: flex-start;
}
.home2-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #151515;
}
.home2-image {
  width: 962px;
  object-fit: cover;
  background-color: #151515;
}
.home2-statistics {
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: row;
  padding-bottom: 200px;
  justify-content: center;
  background-color: #151515;
}
.home2-statistic-list {
  display: grid;
  grid-gap: var(--dl-space-space-fiveunits);
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  grid-template-columns: auto auto;
}
.home2-featured {
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.home2-header1 {
  width: 100%;
  display: flex;
  align-items: flex-end;
  border-color: #151515;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
.home2-link1 {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
.home2-list {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home2-client {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: #151515;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  border-bottom-width: 1px;
}
.home2-text {
  font-size: 32px;
  max-width: 900px;
  line-height: 48px;
}
.home2-text1 {
  color: #ffffff;
}
.home2-services {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: flex-start;
  padding-top: 120px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
}
.home2-header2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #151515;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  border-bottom-width: 1px;
}
.home2-grid {
  flex: 1;
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  flex-direction: column;
  grid-template-columns: auto auto auto;
}
.home2-about {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  background-color: #151515;
}
.home2-header3 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: flex-start;
  border-color: #FFFFFF;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  border-bottom-width: 1px;
}
.home2-company1 {
  color: rgb(255, 255, 255);
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 72px;
}
.home2-description {
  color: #ffffff;
  font-size: 24px;
  max-width: 800px;
  line-height: 36px;
}
.home2-statistics1 {
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: 200px;
  justify-content: space-between;
}
.home2-statistic-list1 {
  display: grid;
  grid-gap: var(--dl-space-space-fiveunits);
  align-items: flex-start;
  flex-direction: row;
  grid-template-columns: auto auto;
}
.home2-clients {
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: center;
  flex-direction: column;
  padding-bottom: 120px;
}
.home2-header4 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #ffffff;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  border-bottom-width: 1px;
}
.home2-grid1 {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: row;
}
.home2-client-list {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: flex-start;
  flex-direction: column;
}
.home2-header5 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #ffffff;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  border-bottom-width: 1px;
}
.home2-row {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home2-row1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home2-footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.home2-information {
  gap: var(--dl-space-space-twounits);
  display: flex;
  flex-wrap: wrap;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: 60px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home2-details {
  gap: var(--dl-space-space-twounits);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}
.home2-links {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
}
.home2-image1 {
  object-fit: cover;
}
@media(max-width: 991px) {
  .home2-navbar-interactive {
    padding-top: var(--dl-space-space-unit);
  }
  .home2-link {
    width: 100%;
    font-size: 16px;
    text-align: center;
    border-radius: 40px;
  }
  .home2-button {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home2-header {
    height: 100%;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
  }
  .home2-title {
    font-size: 40px;
    line-height: 36px;
  }
  .home2-statistics {
    gap: var(--dl-space-space-fourunits);
    padding-top: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home2-statistic-list {
    width: 100%;
    grid-gap: var(--dl-space-space-oneandhalfunits);
  }
  .home2-header1 {
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home2-link1 {
    display: none;
  }
  .home2-client {
    padding-top: var(--dl-space-space-threeunits);
    border-color: transparent;
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home2-text {
    font-size: 18px;
    line-height: 27px;
  }
  .home2-button1 {
    font-size: 16px;
    padding-top: 18px;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 18px;
  }
  .home2-text1 {
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
  }
  .home2-services {
    gap: var(--dl-space-space-threeunits);
    padding-top: 0px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home2-header2 {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    border-top-width: 1px;
  }
  .home2-grid {
    display: flex;
    grid-gap: var(--dl-space-space-oneandhalfunits);
  }
  .home2-about {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home2-header3 {
    gap: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home2-company1 {
    font-size: 30px;
    line-height: 27px;
  }
  .home2-description {
    font-size: 14px;
    line-height: 21px;
  }
  .home2-statistics1 {
    gap: var(--dl-space-space-fourunits);
    padding-top: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home2-button2 {
    font-size: 16px;
    padding-top: 18px;
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 18px;
  }
  .home2-statistic-list1 {
    width: 100%;
    grid-gap: var(--dl-space-space-oneandhalfunits);
  }
  .home2-clients {
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home2-header4 {
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home2-grid1 {
    grid-gap: var(--dl-space-space-oneandhalfunits);
    padding-top: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home2-client-list {
    gap: var(--dl-space-space-threeunits);
  }
  .home2-header5 {
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home2-row {
    flex-direction: column;
  }
  .home2-row1 {
    flex-direction: column;
  }
  .home2-footer {
    flex-direction: column;
  }
  .home2-information {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
    justify-content: flex-start;
  }
  .home2-details {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home2-links {
    gap: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home2-image1 {
    flex: 0 0 auto;
    width: 100%;
    height: 320px;
  }
}
@media(max-width: 767px) {
  .home2-navbar-interactive {
    padding-top: var(--dl-space-space-oneandhalfunits);
  }
  .home2-company {
    font-size: 18px;
    line-height: 20px;
  }
  .home2-items {
    display: none;
  }
  .home2-burger-menu {
    display: flex;
  }
  .home2-button {
    padding: 12px;
  }
  .home2-header {
    padding-bottom: var(--dl-space-space-fiveunits);
  }
}
@media(max-width: 479px) {
  .home2-mobile-menu {
    padding: 16px;
  }
  .home2-title {
    font-size: 40px;
    font-weight: normal;
    line-height: 36px;
    text-transform: uppercase;
  }
}
